$facebook-color: #4267B2;
$whatsapp-color: #25D366;
$facebook-color-1: #4267b2b9;
$whatsapp-color-1: #128C7E;
$white-color: #fff;
$black-color: #000;
$box-shadow-color: rgba(34, 60, 80, 0.6);
$gray-color: rgb(246, 246, 246);
$gray-color-1: rgb(124, 124, 124);
$gray-color-2: rgb(216, 212, 212);
$red-color: #ff0000;