.list-routes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    list-style: square;
    margin: 0 0 10px 20px;
    &:first-child {
        margin: 0;
    }
    &__item {
        margin: 5px 0 0 0;
    }
}